<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>File Service</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <h2 class="title">Files</h2>
    <a href="https://web.company.com/publications/"><h3>Publications</h3></a>
</div>
<div>
    <ul class="no-bullets">
        {% for file in listOfFiles %}
            <li><a class="list-group-item list-group-item-action" target="_blank"
                   href="https://web.company.com/files/download?filename={{ file }}">{{ file }}</a>
                <a class="list-group-item list-group-item-action"
                   href="https://web.company.com/files/delete?filename={{ file }}">( delete )</a>
            </li>
        {% endfor %}
    </ul>
</div>
<div>
    <form class="form" action="https://web.company.com/files/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit"/>
    </form>
</div>
<div>
    Logged in as: {{ username }}
    <a href="https://web.company.com/logout">
        <button>Sign out</button>
    </a>
</div>
</body>
</html>