<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>File Service</title>
    <link href="../style/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <h2 class="title">My account</h2>
</div>
<div>
    <ul class="no-bullets">
        {% for file in listOfFiles %}
            <li><a class="list-group-item list-group-item-action"
                   href="https://cdn.company.com/files?token={{ downloadToken }}&content_type=multipart/form-data&filename={{ file }}&username={{ username }}">{{ file }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
<div>
    <form class="form" action="https://cdn.company.com/files" method="POST" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="hidden" name="token" value="{{ uploadToken }}"/>
        <input type="hidden" name="callback" value="https://web.company.com/callback"/>
        <input type="hidden" name="username" value="{{ username }}"/>
        <input type="submit"/>
    </form>
</div>
<div>
    Logged in as: {{ username }}
    <a href="/logout"><button>Sign out</button></a>
</div>
</body>
</html>