<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>Sign In</title>
</head>
<body>
<div>
    <h2 class="title">Sign in</h2>
</div>
<div class="container">
    <form class="form" action="/auth" method="POST">
        <input type="text" name="username" placeholder="Username" class="fieldInput"/>
        <input type="password" name="password" placeholder="Password" class="fieldInput"/>
        <input type="submit" class="button" id="sendButton" value="Sign in"/>
    </form>
</div>
</body>
</html>