<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>File Service</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <h2 class="title">Publications</h2>
    <a href="https://web.company.com/files/"><h2>Files</h2></a>
</div>
<div>
    <h3>Uploaded publications</h3>
    <ul>
        {% for publication in publications %}
            <li>
                <ul>
                    <li>{{ publication['title'] }}</li>
                    <li>{{ publication['authors'] }}</li>
                    <li>{{ publication['year'] }}</li>
                    {% for file in publication['files'] %}
                        <li>
                            <a class="list-group-item list-group-item-action" target="_blank"
                               href={{ file['download'] }}>{{ file['filename'] }}</a>
                            <a class="list-group-item list-group-item-action"
                               href={{ file['detach'] }}>( detach )</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a class="list-group-item list-group-item-action" href={{ publication['delete'] }}>( delete
                            )</a>
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
<div>
    <h3>Upload new publication</h3>
    <a href="https://web.company.com/publications/form/">
        <button>New publication</button>
    </a>
</div>
<div>
    <h3>Pin file to publication</h3>
    <form class="form" action="https://web.company.com/files/attach" method="POST" enctype="multipart/form-data">
        <a>File: </a>
        <select name="filename">
            {% for file in files_list %}
                <option value={{ file }}>{{ file }}</option>
            {% endfor %}
        </select>
        <a>Publication: </a>
        <select name="pid">
            {% for publication in publications %}
                <option value={{ publication['pid'] }}>{{ publication['title'] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Attach"/>
    </form>
</div>
<div>
    Logged in as: {{ username }}
    <a href="https://web.company.com/logout">
        <button>Sign out</button>
    </a>
</div>
</body>
</html>