<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Notes App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
<div class="container">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container-fluid"><a class="navbar-brand" href="/">Notes App</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active"
                                                                style="background-color: #f8f8f8;">{{ username }}</a>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/reset">Change Password</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="login-clean" style="background-color: rgb(255,255,255);">
    <form method="post" action="/reset">
        {{ form.csrf_token }}
        <div class="form-row">
            <div class="col" style="padding-right: 0;padding-left: 0;">
                <h2 class="text-center">Change Password</h2>
            </div>
        </div>
        <div class="form-group">{{ form.old_password.label }}:
            {{ form.old_password(class="form-control") }}
        </div>
        {% for error in form.old_password.errors %}
            <div class="alert alert-danger" role="alert" style="padding-right: 12px;padding-left: 12px;">
                <span>{{ error }}</span></div>
        {% endfor %}
        <div class="form-group">{{ form.new_password.label }}:
            {{ form.new_password(class="form-control") }}</div>
        {% for error in form.new_password.errors %}
            <div class="alert alert-danger" role="alert" style="padding-right: 12px;padding-left: 12px;">
                <span>{{ error }}</span></div>
        {% endfor %}
        <div class="form-group">{{ form.new_password_repeat.label }}:
            {{ form.new_password_repeat(class="form-control") }}</div>
        {% for error in form.new_password_repeat.errors %}
            <div class="alert alert-danger" role="alert" style="padding-right: 12px;padding-left: 12px;">
                <span>{{ error }}</span></div>
        {% endfor %}
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Change Password</button>
        </div>
        <a class="forgot" href="/">Cancel</a></form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>