<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Notes App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
<div class="login-clean" style="background-color: rgb(255,255,255);">
    <form method="post" action="/signup">
        {{ form.csrf_token }}
        <h2 class="sr-only">Login Form</h2>
        <div class="form-row">
            <div class="col" style="padding-right: 0;padding-left: 0;">
                <h2 class="text-center">Sign Up</h2>
            </div>
        </div>
        <div class="form-group">{{ form.username.label }}:
            {{ form.username(class="form-control") }}</div>
        {% for error in form.username.errors %}
            <div class="alert alert-danger" role="alert" style="padding-right: 12px;padding-left: 12px;">
                <span>{{ error }}</span></div>
        {% endfor %}
        <div class="form-group">{{ form.password.label }}:
            {{ form.password(class="form-control") }}
        </div>
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert" style="padding-right: 12px;padding-left: 12px;">
                <span>{{ error }}</span></div>
        {% endfor %}
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
        </div>
        <a class="forgot" href="/login">Log In</a></form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>