<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Notes App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
<div class="login-clean" style="background-color: rgb(255,255,255);">
    <form method="post" action="/signup">
        <h2 class="sr-only">Login Form</h2>
        <div class="form-row">
            <div class="col" style="padding-right: 0;padding-left: 0;">
                <h2 class="text-center">Sign Up</h2>
            </div>
        </div>
        <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"
                                       required="required"></div>
        {% if username_alert is defined %}
            <div class="alert alert-danger" role="alert" style="padding-right: 12px;padding-left: 12px;">
                <span>{{ username_alert }}</span></div>
        {% endif %}
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"
                                       required="required"></div>
        {% if password_alert is defined %}
            <div class="alert alert-danger" role="alert" style="padding-right: 12px;padding-left: 12px;">
                <span>{{ password_alert }}</span></div>
        {% endif %}
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
        </div>
        <a class="forgot" href="/login">Log In</a></form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>